<ion-view view-title="I OK">
  <ion-content scroll="false">
    <div class="contact-page">
      <div class="contact-page__updated-list">
        <div class="list-title">Recent Updates</div>
        <div class="list">
          <contact model="contact" class="contact-list__item" with-updates="true"
                   on-click="main.onContactSelected(contact)"
                   ng-repeat="contact in main.contacts | filter: main.contactedHasUpdate | orderBy: '+updatedAt'"></contact>
        </div>
      </div>
      <div class="contact-page__main-list">
        <div class="contacts-list">
          <div class="list-title">Contacts</div>
          <div class="contacts-list__items">
            <ion-scroll zooming="true" direction="y" style="width: 100%; height: 600px">
              <contact model="contact" class="contact-list__item" on-click="main.onContactSelected(contact)"
                       ng-repeat="contact in main.contacts"></contact>
            </ion-scroll>
          </div>
        </div>
        <personal-status-controls ng-if="!main.friendsListInForeground"></personal-status-controls>
      </div>
    </div>
    <img src="img/roundbutton.svg" class="global-update-status-button" ng-if="main.friendsListInForeground"
         ng-click="main.friendsListInForeground = false">
  </ion-content>
</ion-view>
