<ion-view view-title="I OK">
  <ion-content>

    <div class="center-view-container">
      <div class="list">
        <div>
          <img class="register__logo" src="img/positive.svg">
        </div>
        <div>
          <img src="img/avatar.svg" class="register__avatar">
        </div>

        <div>
          <select class="box-inline" ng-model="register.phoneAreaCode">
            <option value="{{ phoneAreaCode }}" ng-repeat="phoneAreaCode in register.phonesAreaCode">
              {{ phoneAreaCode }}
            </option>
          </select>
          <input class="box-inline" ng-model="register.phoneNumber" type="text" placeholder="Insert Phone Number">
        </div>

        <div class="padding register__button">
          <button ng-click="register.submitNumber()" class="btn btn__set">Set</button>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
